body {
	height: 100%;
	width: 100%
	margin: 0;
	
	background-color: grey;
}
h1 {
	color: white;
	text-align: center;
	font-size: 70px;
	font-family: 'Krabby Patty', cursive;	
	margin-left: 10%;
	text-decoration: underline;

}

@font-face {
	font-family: 'Krabby Patty';
	src: url("./Krabby-Patty.ttf") format('ttf');
}

#container {
	position: relative;
	height: 75vh;
	width: 75%;
	left: 20%;
	margin-top: 40px;
    background: url('http://www.mindspring.com/~imagea/forrest/SpongebobSquarepants_SmallSized/SB_JellyfishFields2_BG_1%20copy.jpg') no-repeat;
	background-size: cover;
	overflow: hidden;
	border: 15px solid white;
}

	


#game-board { 
	position: relative;
	size: cover;
}

.player{
	position: absolute;
	height: 50px;
	width: 50px;
}
#spongebob {
	height: 150px;
	width: 110px;
	top: 50%;
	left: 50%;
	background: url('http://simex-iwerks.com/spongebob-4d/parallax/images/clouds/10.png') no-repeat;
	background-size: cover;
	/*border-radius: 30px 30px 30px 30px;*/
}

#patrick {
	height: 250px;
	width: 150px;
	top: 50%;
	left: 45%;
	background: url('https://files.gamebanana.com/img/ico/sprays/patrick_star_2_preview_2.png') no-repeat;
	background-size: contain;
}

.jelly {
	position: absolute;
	height: 50px;
	width: 50px;
	
	background: url('https://studio.code.org/v3/assets/6ExOiqS7Hwk0HSmIDWxz9Q/Jellyfish.png') no-repeat;
	background-size: contain;
}
#jelly_1 {
	top: -15%;
	left: 10%;
}

#jelly_2 {
	top: -25%;
	left: 20%;

}

#jelly_3 {
	top: -35%;
	left: 30%;
}

#jelly_4 {
	top: -45%;
	left: 40%;
}

#jelly_5 {
	top: -55%;
	left: 50%;
}

#jelly_6 {
	top: -65%;
	left: 60%;
}

#king_jelly {
	position: absolute;
	top: -85%;
	left: 70%;
	height: 150px;
	width: 150px;
	background: url('https://vignette4.wikia.nocookie.net/nicktoonstoonswars/images/6/64/King_Jellyfish.png/revision/latest?cb=20120123205620') no-repeat;
	background-size: contain;
}

#score_div{
    position: absolute;
    margin-top: 25%;
    margin-left: 0;
    font-family: 'Krabby Patty', cursive;
    font-size: 35px;
    background-color: white;
    color: #454545;
    padding: 10px;
    box-shadow: 4px 4px 0px 1px #808080;
}

#controls {
	position: absolute;
	top: 0;
	font-family: 'Krabby Patty', cursive;
	margin-top: 0;
	margin-left: 0;
	font-size: 25px;
	background-color: grey;
	color: white;
	padding: 10px;
	box-shadow: 4px 4px 0px 1px #808080;
}

#score_div_2{
    position: absolute;
    margin-top: 35%;
    margin-left: 0;
    font-family: 'Krabby Patty', cursive;
    font-size: 35px;
    background-color: white;
    color: #454545;
    padding: 10px;
    box-shadow: 4px 4px 0px 1px #808080;
}

#timer_div {
	 position: absolute;
    margin-top: 0;
    margin-right: 0;
    font-family: 'Krabby Patty', cursive;
    font-size: 35px;
    background-color: white;
    color: #454545;
    padding: 10px;
    box-shadow: 4px 4px 0px 1px #808080;
}

#restart_div {
	position: absolute;
	top:10%;
	left: 50%;
	font-family: 'Krabby Patty', cursive;
	font-size: 35px;
	height: 50px;
	width: 50px;
	display: none;

}
#spongebob_point {
	position: absolute;
	top: 5%;
	left: 20%;
	font-family: 'Krabby Patty', cursive;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
	font-size: 40px;
	background-color: transparent;
	color: yellow;
	display: none;
	font-weight: 900;
}
#patrick_point {
	position: absolute;
	left: 70%;
	font-family: 'Krabby Patty', cursive;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
	font-size: 40px;
	background-color: transparent;
	color: pink;
	display: none;
	font-weight: 900;
}
#spongebob_point2 {
	position: absolute;
	left: 10%;
	top: 10%;
	font-family: 'Krabby Patty', cursive;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
	font-size: 40px;
	background-color: transparent;
	color: yellow;
	display: none;
	font-weight: 900;
}
#patrick_point2 {
	position: absolute;
	left: 70%;
	top: 10%;
	font-family: 'Krabby Patty', cursive;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
	font-size: 40px;
	background-color: transparent;
	color: pink;
	display: none;
	font-weight: 900;
}
#spongebob_point3 {
	position: absolute;
	left: 20%;
	top: 15%;
	font-family: 'Krabby Patty', cursive;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
	font-size: 40px;
	background-color: transparent;
	color: yellow;
	display: none;
	font-weight: 900;
}
#patrick_point3 {
	position: absolute;
	left: 60%;
	top: 5%;
	font-family: 'Krabby Patty', cursive;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
	font-size: 40px;
	background-color: transparent;
	color: pink;
	display: none;
	font-weight: 900;
}
#sponge_king_point {
	position: absolute;
	left: 30%;
	top: 5%;
	font-family: 'Krabby Patty', cursive;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
	font-size: 40px;
	background-color: transparent;
	color: yellow;
	display: none;
	font-weight: 900;
}
#patrick_king_point {
		position: absolute;
	left: 50%;
	top: 5%;
	font-family: 'Krabby Patty', cursive;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
	font-size: 40px;
	background-color: transparent;
	color: pink;
	display: none;
	font-weight: 900;
}
#spongebob_winner {
	position: absolute;
	font-family: 'Krabby Patty';
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
	font-size: 50px;
	text-align: center;
	height: 350px;
	width: 200px;
	background: url("https://vignette.wikia.nocookie.net/nickelodeon/images/2/27/Spongebob_PNG.png/revision/latest?cb=20120702055752") no-repeat;
	background-size: contain;
	background-position: center center;
	color: black;
	left: 50%;
	top: 50%;
	margin: -150px 0 0 -100px;
	display: none;
}

#patrick_winner {
	position: absolute;
	font-family: 'Krabby Patty';
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
	font-size: 50px;
	text-align: center;
	height: 350px;
	width: 200px;
	background: url("https://vignette2.wikia.nocookie.net/spongebob/images/2/2f/Patrick_Star_2.png/revision/latest?cb=20150117190123") no-repeat;
	background-size: contain;
	background-position: center center;
	color: black;
	left: 50%;
	top: 50%;
	margin: -150px 0 0 -100px;
	display: none;
}

#tie {
		position: absolute;
	font-family: 'Krabby Patty';
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
	font-size: 50px;
	text-align: center;
	height: 350px;
	width: 200px;
	background: url("http://images.clipartpanda.com/spongebob-clip-art-LTKr9MKrc.gif") no-repeat;
	background-size: contain;
	background-position: center center;
	color: black;
	left: 50%;
	top: 50%;
	margin: -150px 0 0 -100px;
	display: none;
}